section.books-content > .container {
  display: flex;
  flex-wrap: wrap;
}

section.books-content div.single-book {
  width: calc(100% / 5);
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  section.books-content div.single-book {
    width: calc(100% / 2);
    padding: 10px;
  }

  section.books-content {
    padding: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  section.books-content div.single-book {
    width: 100%;
    padding: 10px 0;
  }
}
